{{ $released := (lower (.Get "released")) }}

{{ if eq $released "true" }}
{{ $priorities := site.Data.devsecops_adoption_priorities.released }}
<table class="table">
  <thead>
    <tr>
      <th>Release Date</th>
      <th>Feature</th>
      <th>Owner</th>
      <th>Links</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $element := $priorities }}
    <tr>
      <td>
        <code>{{ .timeline }}</code>
      </td>
      <td>
        <b>{{ .name }}</b><br />
        Theme: <code class='pill {{ strings.Replace (lower .theme) " " "_" }}'>{{ .theme }}</code>
      </td>
      <td>
        {{ .pm | markdownify }}<br />
        <code>{{ .group }}</code>
      </td>
      <td>
        <a href="{{ .release_post }}">Release Post</a><br>
        <a href="{{ .documentation }}">Documentation</a>
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ else }}
{{ $priorities := site.Data.devsecops_adoption_priorities.priorities }}
<table class="table">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Feature</th>
      <th>Est. Timeline</th>
      <th>Owner</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $element := $priorities }}
    <tr>
      <td>
        {{ add $index 1 }}
      </td>
      <td>
        <b>{{ .name }}</b><br />
        Theme: <code class='pill {{ strings.Replace (lower .theme) " " "_" }}'>{{ .theme }}</code>
      </td>
      <td>
        <code>{{ .timeline }}</code>
      </td>
      <td>
        {{ .pm | markdownify }}<br />
        <code>{{ .group }}</code>
      </td>
      <td>
        <code>{{ .status }}</code><br />
        {{ .notes | markdownify }}
      </td>
    </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}
