{{ .Page.Store.Set "hastableau" true -}}
{{- /* set defaults */}}
{{- $attrs := newScratch }}
{{- $attrs.Set "hide-tabs" true }}
{{- $attrs.Set "toolbar" "hidden" }}

{{- if .IsNamedParams }}
{{- range $key, $value := .Params }}
{{- $attrs.Set $key $value }}
{{- end }}
{{- else }}
{{- $attrs.Set "src" (.Get 0) }}
{{- end }}

{{- /* src is required */}}
{{- if not (isset $attrs.Values "src") }}
{{ errorf "You must specify a chart 'src' when using the `tableau` shortcode" }}
{{- end }}

{{- $attrString := "" -}}
{{- range $key, $val := $attrs.Values }}
{{ $attrString = printf "%s %s=\"%v\"" $attrString $key $val }}
{{- end }}

<div class="card" style="min-height: {{ $attrs.Get "height" | default "400px" }};">
  <tableau-viz class="card-body" {{ $attrString | safeHTMLAttr }}>{{ .Inner }}</tableau-viz>
</div>
